Exercise project 1, ANN regression:

Lots of good experimentation going on here!

However, I probably have to grade this again later, since I believe there's quite a lot of problems with the categorical handling. For example "Color" seems to be replaced with numbers.

However, Color is a nominal category, which means, we can't replace colors with various numbers, like Yellow = 1, Blue = 2, Green = 3 etc. since it doesn't mean anything statistically. E.g. we can't imply "Green" is "more" than "Yellow", since they are not comparable, that's why 1 and 3 doesn't work here.

We have to create a separate binary variable for each color option, like Yellow (0/1), Blue (0/1), Green (0/1) etc. 

See the "Common pitfalls" material in Moodle, there's an explanation on this smile

Check also the other categorical variables in your dataset so that you don't accidentally replace them with just a random number.

Best way on how to convert a nominal category into binary variables, check lecture examples, Housing dataset.

Solution:
=> Change Color, Category to boolean flags

In [7]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 

import tensorflow as tf 
import keras 
from keras import layers
df = pd.read_csv("../datasets/Task_1/7.csv")
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Airbags
0,9263,157,0,61,1110,1939,9,2,5.0,129000,8.0,1,3,0
1,10116,157,0,7,445,1939,10,2,2.4,126000,4.0,1,3,0
2,14050,200,0,61,1110,1939,10,2,2.2,169000,4.0,4,3,0
3,11567,150,0,10,1272,1947,10,2,2.0,165000,6.0,4,3,0
4,8145,314,0,56,1040,1953,2,2,0.6,150000,4.0,4,3,1

In [8]:
# this makes multiple columns with the variable (Separate for yes/no)
from sklearn.preprocessing import OneHotEncoder
#variables = ['Category','Color']
variables = ['Category']

# use encoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

df.to_csv("../datasets/Task_1/8.csv")

I decided against adding Color back to the dataset and converting it to boolean flags for the simple reason that in real life (at least to my knowledge) Color has no real effect on car price evaluation.

Converting Category to boolean flags returned this result:

MAE
6138.71 $

MSE
90953632.0 $^2

RMSE:
9536.96 $

R-squared:
0.6

Explained variance score:
0.6

Replace Model ordinal conversion with correct boolean flags:

In [9]:
df = pd.read_csv("../datasets/Task_1/8.csv")
# this makes multiple columns with the variable (Separate for yes/no)
from sklearn.preprocessing import OneHotEncoder
variables = ['Model']

# use encoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

df.to_csv("../datasets/Task_1/9.csv")

When replacing Model with boolean flags I get the following result:
this decreased model performance quite significantly, probably because the addition of so many nominal boolean flags confused it. also this increased training time to ~20min

MAE
9204.77 $

MSE
161803376.0 $^2

RMSE:
12720.2 $

R-squared:
0.32

Explained variance score:
0.32


With this in mind the final version of the dataset and keras model should use 8.csv with only Category replaced