### Context

An automobile company has plans to enter new markets with their existing products (P1, P2, P3, P4, and P5). After intensive market research, theyâ€™ve deduced that the behavior of the new market is similar to their existing market.

In their existing market, the sales team has classified all customers into 4 segments (A, B, C, D ). Then, they performed segmented outreach and communication for a different segment of customers. This strategy has work e exceptionally well for them. They plan to use the same strategy for the new markets and have identified 2627 new potential customers.

You are required to help the manager to predict the right group of the new customers.

=> Column Segmentation is the Target Variable

In [42]:
import pandas as pd 
import matplotlib.pyplot as plt 
df = pd.read_csv("../datasets/Task_2/customer.csv")
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,A

In [43]:
df.drop(columns=['ID'],inplace=True)
df.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A
3,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,A

In [44]:
df["Work_Experience"].fillna(0,inplace=True)
df.head()

df.to_csv("../datasets/Task_2/1.csv")

/tmp/ipykernel_1186/1863634168.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Work_Experience"].fillna(0,inplace=True)

In [45]:
bool_mapping = {"Yes":1,"No":0}
df.replace(bool_mapping,inplace=True)
df.head()

/tmp/ipykernel_1186/1814615233.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(bool_mapping,inplace=True)

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Female,1.0,36,1.0,Engineer,0.0,Low,1.0,Cat_6,B
1,Male,1.0,37,1.0,Healthcare,8.0,Average,4.0,Cat_6,A
2,Female,1.0,69,0.0,NaN,0.0,Low,1.0,Cat_6,A
3,Male,1.0,59,0.0,Executive,11.0,High,2.0,Cat_6,B
4,Female,0.0,19,0.0,Marketing,0.0,Low,4.0,Cat_6,A

In [46]:
bool_mapping = {"Low":1,"Average":2,"High":3}
df.replace(bool_mapping,inplace=True)
df.head()

/tmp/ipykernel_1186/3843168486.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(bool_mapping,inplace=True)

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Female,1.0,36,1.0,Engineer,0.0,1,1.0,Cat_6,B
1,Male,1.0,37,1.0,Healthcare,8.0,2,4.0,Cat_6,A
2,Female,1.0,69,0.0,NaN,0.0,1,1.0,Cat_6,A
3,Male,1.0,59,0.0,Executive,11.0,3,2.0,Cat_6,B
4,Female,0.0,19,0.0,Marketing,0.0,1,4.0,Cat_6,A

In [47]:
bool_mapping = {"Male":0,"Female":1}
df.replace(bool_mapping,inplace=True)
df.head()

/tmp/ipykernel_1186/3990530094.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(bool_mapping,inplace=True)

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,1,1.0,36,1.0,Engineer,0.0,1,1.0,Cat_6,B
1,0,1.0,37,1.0,Healthcare,8.0,2,4.0,Cat_6,A
2,1,1.0,69,0.0,NaN,0.0,1,1.0,Cat_6,A
3,0,1.0,59,0.0,Executive,11.0,3,2.0,Cat_6,B
4,1,0.0,19,0.0,Marketing,0.0,1,4.0,Cat_6,A

In [48]:
df.to_csv("../datasets/Task_2/2.csv")

In [49]:
from sklearn.preprocessing import OneHotEncoder
variables = ['Profession']

# use encoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

df.head()

,Gender,Ever_Married,Age,Graduated,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_nan
0,1,1.0,36,1.0,0.0,1,1.0,Cat_6,B,0,0,1,0,0,0,0,0,0,0
1,0,1.0,37,1.0,8.0,2,4.0,Cat_6,A,0,0,0,0,0,1,0,0,0,0
2,1,1.0,69,0.0,0.0,1,1.0,Cat_6,A,0,0,0,0,0,0,0,0,0,1
3,0,1.0,59,0.0,11.0,3,2.0,Cat_6,B,0,0,0,0,1,0,0,0,0,0
4,1,0.0,19,0.0,0.0,1,4.0,Cat_6,A,0,0,0,0,0,0,0,0,1,0

In [50]:
df["Var_1"].fillna(0,inplace=True)
# remove "Cat_ from each Var_1 column so there are only the numeric values left"#

df['Var_1'] = df['Var_1'].str[4:]
df.head()

/tmp/ipykernel_1186/3131778391.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Var_1"].fillna(0,inplace=True)

,Gender,Ever_Married,Age,Graduated,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_nan
0,1,1.0,36,1.0,0.0,1,1.0,6,B,0,0,1,0,0,0,0,0,0,0
1,0,1.0,37,1.0,8.0,2,4.0,6,A,0,0,0,0,0,1,0,0,0,0
2,1,1.0,69,0.0,0.0,1,1.0,6,A,0,0,0,0,0,0,0,0,0,1
3,0,1.0,59,0.0,11.0,3,2.0,6,B,0,0,0,0,1,0,0,0,0,0
4,1,0.0,19,0.0,0.0,1,4.0,6,A,0,0,0,0,0,0,0,0,1,0

In [51]:
df.describe()

,Gender,Ever_Married,Age,Graduated,Work_Experience,Spending_Score,Family_Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_nan
count,2627.000000,2577.000000,2627.000000,2603.000000,2627.000000,2627.000000,2514.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000,2627.000000
mean,0.457937,0.589833,43.649791,0.615444,2.291207,1.531785,2.825378,0.305291,0.092120,0.089836,0.114579,0.066997,0.159117,0.031214,0.084126,0.042254,0.014465
std,0.498322,0.491959,16.967015,0.486584,3.258607,0.736931,1.551906,0.460618,0.289251,0.286002,0.318574,0.250064,0.365855,0.173930,0.277630,0.201205,0.119421
min,0.000000,0.000000,18.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,30.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,41.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,53.000000,1.000000,3.000000,2.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,89.000000,1.000000,14.000000,3.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [52]:
df.isna().sum()

Gender                        0
Ever_Married                 50
Age                           0
Graduated                    24
Work_Experience               0
Spending_Score                0
Family_Size                 113
Var_1                        32
Segmentation                  0
Profession_Artist             0
Profession_Doctor             0
Profession_Engineer           0
Profession_Entertainment      0
Profession_Executive          0
Profession_Healthcare         0
Profession_Homemaker          0
Profession_Lawyer             0
Profession_Marketing          0
Profession_nan                0
dtype: int64

In [53]:
unique_model = df["Segmentation"].unique()
print(len(unique_model))
model_result = {unique: i+1 for i, unique in enumerate(unique_model)}
print(model_result)

df.replace(model_result,inplace=True)
df.head()

4
{'B': 1, 'A': 2, 'C': 3, 'D': 4}

/tmp/ipykernel_1186/4071331940.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(model_result,inplace=True)

,Gender,Ever_Married,Age,Graduated,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_nan
0,1,1.0,36,1.0,0.0,1,1.0,6,1,0,0,1,0,0,0,0,0,0,0
1,0,1.0,37,1.0,8.0,2,4.0,6,2,0,0,0,0,0,1,0,0,0,0
2,1,1.0,69,0.0,0.0,1,1.0,6,2,0,0,0,0,0,0,0,0,0,1
3,0,1.0,59,0.0,11.0,3,2.0,6,1,0,0,0,0,1,0,0,0,0,0
4,1,0.0,19,0.0,0.0,1,4.0,6,2,0,0,0,0,0,0,0,0,1,0

In [54]:
df.dropna(inplace=True)
df.isna().sum()

Gender                      0
Ever_Married                0
Age                         0
Graduated                   0
Work_Experience             0
Spending_Score              0
Family_Size                 0
Var_1                       0
Segmentation                0
Profession_Artist           0
Profession_Doctor           0
Profession_Engineer         0
Profession_Entertainment    0
Profession_Executive        0
Profession_Healthcare       0
Profession_Homemaker        0
Profession_Lawyer           0
Profession_Marketing        0
Profession_nan              0
dtype: int64

In [55]:
df.to_csv("../datasets/Task_2/3.csv")

In [56]:
print(df.dtypes)

Gender                        int64
Ever_Married                float64
Age                           int64
Graduated                   float64
Work_Experience             float64
Spending_Score                int64
Family_Size                 float64
Var_1                        object
Segmentation                  int64
Profession_Artist             int64
Profession_Doctor             int64
Profession_Engineer           int64
Profession_Entertainment      int64
Profession_Executive          int64
Profession_Healthcare         int64
Profession_Homemaker          int64
Profession_Lawyer             int64
Profession_Marketing          int64
Profession_nan                int64
dtype: object

In [57]:
df = df.apply(pd.to_numeric, errors='coerce')

In [58]:
print(df.dtypes)

Gender                        int64
Ever_Married                float64
Age                           int64
Graduated                   float64
Work_Experience             float64
Spending_Score                int64
Family_Size                 float64
Var_1                         int64
Segmentation                  int64
Profession_Artist             int64
Profession_Doctor             int64
Profession_Engineer           int64
Profession_Entertainment      int64
Profession_Executive          int64
Profession_Healthcare         int64
Profession_Homemaker          int64
Profession_Lawyer             int64
Profession_Marketing          int64
Profession_nan                int64
dtype: object

In [59]:
df.isna().sum()

Gender                      0
Ever_Married                0
Age                         0
Graduated                   0
Work_Experience             0
Spending_Score              0
Family_Size                 0
Var_1                       0
Segmentation                0
Profession_Artist           0
Profession_Doctor           0
Profession_Engineer         0
Profession_Entertainment    0
Profession_Executive        0
Profession_Healthcare       0
Profession_Homemaker        0
Profession_Lawyer           0
Profession_Marketing        0
Profession_nan              0
dtype: int64

In [60]:
df.to_csv("../datasets/Task_2/3.csv")

In [61]:
df.describe()

,Gender,Ever_Married,Age,Graduated,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,Profession_Healthcare,Profession_Homemaker,Profession_Lawyer,Profession_Marketing,Profession_nan
count,2418.000000,2418.00000,2418.00000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000,2418.000000
mean,0.452026,0.59512,43.63689,0.621588,2.292804,1.540529,2.827130,5.161290,2.550455,0.312242,0.093466,0.089744,0.114144,0.066998,0.154260,0.028536,0.084367,0.042184,0.014061
std,0.497796,0.49097,16.87773,0.485091,3.254779,0.740274,1.559964,1.394934,1.118236,0.463504,0.291144,0.285873,0.318052,0.250069,0.361272,0.166533,0.277995,0.201049,0.117768
min,0.000000,0.00000,18.00000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.00000,30.00000,0.000000,0.000000,1.000000,2.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.00000,41.00000,1.000000,1.000000,1.000000,2.000000,6.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.00000,52.00000,1.000000,3.000000,2.000000,4.000000,6.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.00000,89.00000,1.000000,14.000000,3.000000,9.000000,7.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

This should conclude the required preprocessing